---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { AutoplayImageCarousel } from "@/components/AutoplayImageCarousel";
import { ImageCardCarousel } from "@/components/ImageCardCarousel";
import DemoImg from "@/assets/demo.png";

// BUG: font won't load
const l = Array.from({length: 5}).map(() => DemoImg.src)
---

<Layout>
  <main>
    <div class="flex flex-col">
      <Header class="text-(--text-color)" size="large">Himbidig</Header>
      <Header
        as="h3"
        class="mt-5 ml-3 w-xl text-justify text-xl text-(--text-color)/90 xl:text-xl"
      >
        Visi Misi: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
        impedit doloribus magnam, vitae enim soluta neque quasi labore earum
        corporis itaque fugiat veritatis a, odit reprehenderit eveniet minima
        molestiae nostrum!
      </Header>
      <!--
    </div>

    <div class="flex justify-center">
    <!-- TODO:
        - make image fit to card
        - perhaps add this https://reactbits.dev/components/bounce-cards untuk anggota himpunan
        - fix font not loading
        - add pic
        - add transition effect when first page load
        - add footer
        - add logo
    -->
        <AutoplayImageCarousel client:load imgList={l} />
    </div>
  </main>

  <style></style>
</Layout>
