---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

// BUG: font won't load
---

<Layout>
    <main>
        <div class="flex flex-col">

            <Header class="text-(--text-color)" size="large">Himbidig</Header>
            <Header
                    as="h3"
                    class="text-xl text-(--text-color)/90 xl:text-xl mt-5 ml-3 text-justify w-xl"
                    >
                    Visi Misi: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                    impedit doloribus magnam, vitae enim soluta neque quasi labore earum
                    corporis itaque fugiat veritatis a, odit reprehenderit eveniet minima
                    molestiae nostrum!
            </Header>

            <!-- perhaps add this https://reactbits.dev/components/bounce-cards -->

        </div>

    </main>
</Layout>

<style></style>
