---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Paragraph from "@/components/Paragraph.astro";
import Footer from "@/components/Footer.astro"
import  AutoplayImageCarousel  from "@/components/AutoplayImageCarousel";
import { extractSourcePathRegex } from "@/lib/utils";
import DemoImg from "@/assets/demo.png";

import BounceCards from "@/components/BounceCards";

let imgs = Array.from({ length: 5 }).map(() => DemoImg.src)

const transformStyles = [
  "rotate(5deg) translate(-150px)",
  "rotate(0deg) translate(-70px)",
  "rotate(-5deg)",
  "rotate(5deg) translate(70px)",
  "rotate(-5deg) translate(150px)",
];
---

<Layout>
  <main>
    <div class="flex flex-col">
      <Header class="text-(--text-color)" size="large">Himbidig</Header>
      <Header
        as="h4"
        class="mt-5 ml-3 w-xl text-justify text-xl text-(--text-color)/90 xl:text-lg"
      >
      slogan simpel
      </Header>
    </div>
    <div class="my-30 flex items-center justify-around">
      <div class="flex flex-col">
        <Header class="text-(--text-color)" size="default">Anggota</Header>
        <Header
          as="h3"
          class="mt-5 ml-3 w-xl text-justify text-xl text-(--text-color)/90 xl:text-xl"
        >
          Anggota: Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quia impedit doloribus magnam, vitae enim soluta neque quasi labore
          earum corporis itaque fugiat veritatis a, odit reprehenderit eveniet
          minima molestiae nostrum!
        </Header>
      </div>
      <BounceCards
        client:load
        images={imgs}
        containerWidth={500}
        containerHeight={250}
        animationDelay={1}
        animationStagger={0.08}
        easeType="elastic.out(1, 0.5)"
        transformStyles={transformStyles}
        enableHover={true}
      />
    </div>

    <div class="flex justify-center items-center">

      <Paragraph
        class="my-5 w-xl text-justify text-(--text-color)/90" 
      >
        VISI MISI: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
        impedit doloribus magnam, vitae enim soluta neque quasi labore earum
        corporis itaque fugiat veritatis a, odit reprehenderit eveniet minima
        molestiae nostrum!
      </Paragraph>
    </div>

    <div class="my-30 flex justify-center items-center flex-col">
    <Header class="text-(--text-color) my-10" size="default">Kegiatan Himpunan</Header>
        <AutoplayImageCarousel client:visible imgList={imgs} />
    </div>

    <Footer />
  </main>
</Layout>
