.bounceCardsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
}

.card {
  position: absolute;
  width: 160px;
  aspect-ratio: 1;
  /* TODO: ganti warna yang cocok dengan foto nanti */
  border: 3px solid var(--highlight-color);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* sm and up (640px+) */
@media (min-width: 640px) {
  .card {
    width: 200px; /* Applies for sm, md, and lg screens */
  }
}

/* xl and up (1280px+) */
@media (min-width: 1280px) {
  .card {
    width: 300px;
  }
}

.card .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
