---
const { text } = Astro.props;
const id = Math.random().toString(36).slice(2, -1);
---

<h1 data-value="{text}" class="{id}">{text}</h1>

<script is:inline>
const extraChars = "x;&$@";
const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" + extraChars;

const effect = (el, letterChangePerSecond = 4) => {
  let i = 0;
  const interval = setInterval(() => {
    el.target.innerText = el.target.innerText
      .split("")
      .map((l, idx) => {
        if (idx < i) {
          return el.target.dataset.value[idx];
        }

        return letters[Math.floor(Math.random() * 26)];
      }) 
      .join("");

    if (i >= el.target.dataset.value.length) {
            clearInterval(interval)
        }
        i += 1 / letterChangePerSecond
  }, 30);
};

const h1 = document.querySelector(".{id}")
document.addEventListener("DOMContentLoaded", () => {
  effect({ target: h1 }, 8);
});
h1.addEventListener("mouseover", (e) => effect(e))

</script>

<style>
    body {
        background: black;
    }

    h1 {
        color: white;
        font-size: 5rem;
        font-family: "Space Mono", monospace 
    }
</style>
