---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"p"> {
  size?: "default" | "large";
}

const {
  size = "default",
  class: className,
  ...attrs
} = Astro.props;
---

<p
  class={cn(
    "text-balance font-bold text-white",
    size === "default" && "text-base tracking-tight md:text-lg xl:text-2x",
    size === "large" &&
        "text-lg tracking-tighter md:text-xl xl:text-2xl",
    className,
  )}
  {...attrs}
>
  <slot />
</p>
