---
import "../styles/global.css";
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <title>Himbidig Unmuha</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href=`/apple-touch-icon.png`
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href=`/favicon-32x32.png`
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href=`/favicon-16x16.png`
    />
    <link rel="manifest" href=`/site.webmanifest` />

    <!-- <Font cssVariable="--font-geist" preload /> -->
    <!-- <Font cssVariable="--font-ibm-plex-mono" preload /> -->
    <Font cssVariable="--font-akira" preload />
  </head>
  <body class="font-expanded relative min-h-screen bg-[#0e0e0e]">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
</style>
